
body{
	background-color: lightgrey;
}


table{

	font-family: times;
	text-align: center;
	border: solid pink;
	box-sizing: border-box;
	border: solid;
	border-width: 1px;
	font-size: 18px;
	border-color: grey;
	background-color: pink;
	border-collapse: collapse;
}
tr:nth-child(1){
	border-width: 0.1px;
	border: solid black;
}
tr:nth-child(2){
	border-width: 0.05px;
	border: solid grey;
}
tr:nth-child(3){
	border-width: 0.05px;
	border: solid grey;
}
tr:nth-child(4){
	border-width: 0.05px;
	border: solid grey;
}
tr:nth-child(5){
	border-width: 0.05px;
	border: solid grey;
}

/* make the song title small-cap */
tr:nth-child(1) > td:nth-child(1){
	font-size: 20px;
	font-weight: bold;
	color: darkred;
	font-variant: small-caps;
}
tr:nth-child(2) > td:nth-child(1){
	font-variant: small-caps;
}
tr:nth-child(3) > td:nth-child(1){
	font-variant: small-caps;
	color: green;
}
tr:nth-child(4) > td:nth-child(1){
	font-variant: small-caps;
}
tr:nth-child(5) > td:nth-child(1){
	font-variant: small-caps;
}
/* bold all artists */
tr:nth-child(1) > td:nth-child(2){
	font-size: 20px;
	font-weight: bold;
	color: darkred;
}
tr:nth-child(2) > td:nth-child(2){
	font-weight: bold;
}
tr:nth-child(3) > td:nth-child(2){
	font-weight: bold;
}
tr:nth-child(4) > td:nth-child(2){
	font-weight: bold;
}
tr:nth-child(5) > td:nth-child(2){
	font-weight: bold;
}

/* italicized the album */
tr:nth-child(1) > td:nth-child(3){
	font-size: 20px;
	font-weight: bold;
	color: darkred;
	font-variant: small-caps;
}
tr:nth-child(2) > td:nth-child(3){
	font-style: italic;
}
tr:nth-child(3) > td:nth-child(3){
	font-style: italic;
}
tr:nth-child(4) > td:nth-child(3){
	font-style: italic;
}
tr:nth-child(5) > td:nth-child(3){
	font-style: italic;
}

/* proportional reduce font size */
tr:nth-child(1) > td:nth-child(4){
	font-size: 20px;
	font-weight: bold;
	color: darkred;
	font-variant: small-caps;
}
tr:nth-child(2) > td:nth-child(4){
	font-size: small;
}
tr:nth-child(3) > td:nth-child(4){
	font-size: small;
}
tr:nth-child(4) > td:nth-child(4){
	font-size: small;
}
tr:nth-child(5) > td:nth-child(4){
	font-size: small;
}
tr:nth-child(1) > td:nth-child(5){
	font-size: 20px;
	font-weight: bold;
	color: darkred;
	font-variant: small-caps;
}
tr:nth-child(2) > td:nth-child(5){
	font-size: x-small;
}
tr:nth-child(2) > td:nth-child(5):before {
	content: ' \2022 ';
}
tr:nth-child(3) > td:nth-child(5){
	font-size: x-small;
}
tr:nth-child(3) > td:nth-child(5):before {
	content: ' \2022 ';
}
tr:nth-child(4) > td:nth-child(5){
	font-size: x-small;
}
tr:nth-child(4) > td:nth-child(5):before {
	content: ' \2022 ';
}
tr:nth-child(5) > td:nth-child(5){
	font-size: x-small;
}
tr:nth-child(5) > td:nth-child(5):before {
	content: ' \2022 ';
}

tr:nth-child(1) > td:nth-child(7){
	font-size: 20px;
	font-weight: bold;
	color: darkred;
	font-variant: small-caps;
}

tr:nth-child(1) > td:nth-child(6){
	font-size: 20px;
	font-weight: bold;
	color: darkred;
	font-variant: small-caps;
}

tr:nth-child(2) > td:nth-child(6){
	padding-left:10px;
	font-size: 15px;
}
tr:nth-child(3) > td:nth-child(6){
	padding-left:10px;
	font-size: 15px;
}
tr:nth-child(4) > td:nth-child(6){
	padding-left:10px;
	font-size: 15px;
}
tr:nth-child(5) > td:nth-child(6){
	padding-left:10px;
	font-size: 15px;
}


h1{
	text-align: center;
	font-style: italic;
	font-size: small;
}
